:root {
    --bg: #28131d;
    --bg-2: #48212c;
    --bg-3: #663443;
    --bg-4: #a455628c;
    --bg-5: #190c16;
    --border: #f3d1c8c7;
    --border-2: #f3d1c870;
    --border-3: #f3d1c830;
    --border-4: #f3d1c81a;
    --text: #e5c1bb;
    --bright-text: #fffaf2;
    --accent: #ff9b72;
    --accent-2: #e875a0;
}

#reset-theme {
    display: none !important;
}
